<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449481262129-f53fl3vm8nj3ch8hp94l4ue2behrfjnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449481262129-f53fl3vm8nj3ch8hp94l4ue2behrfjnh</string>
	<key>API_KEY</key>
	<string>AIzaSyCLVzF-K1DPPwScFVv8P3uFvd823X_QvB4</string>
	<key>GCM_SENDER_ID</key>
	<string>449481262129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Everyone-Can-Code-Chicago.RoomiesIntrpo</string>
	<key>PROJECT_ID</key>
	<string>lumi-lumi</string>
	<key>STORAGE_BUCKET</key>
	<string>lumi-lumi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449481262129:ios:8b8724459f11c7b6d90110</string>
</dict>
</plist>