<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650311359033-cld87u69agg7rfo7kh338nsulvo3pbml.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650311359033-cld87u69agg7rfo7kh338nsulvo3pbml</string>
	<key>API_KEY</key>
	<string>AIzaSyDwPH48oTdUJE5gEDjEXYiC6oYgzmT9eh8</string>
	<key>GCM_SENDER_ID</key>
	<string>650311359033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EveryoneCanCodeChicago.RoomiesIntrpo</string>
	<key>PROJECT_ID</key>
	<string>lumi-lumi-4d562</string>
	<key>STORAGE_BUCKET</key>
	<string>lumi-lumi-4d562.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650311359033:ios:43ebe4d3029e4f7c928be8</string>
</dict>
</plist>